{
    "host": "localhost",
    "port": 1883,
    "topic": "tuya",
    "discovery_topic": "homeassistant",
    "status_topic": "homeassistant/status",
    "mqtt_user": "",
    "mqtt_pass": ""
}
